<h1><%= @city.name %></h1>

<% if @user == "operator" %>
  <a href="/cities/<%= @city.id %>/edit" type="button" class="btn btn-success">Edit</a>
<% end %>

<ul>
<% @city.stops.each do |stop| %>
  <li><%= stop.fetch(:train).line %>: <%= stop.fetch(:time) %></li>
<% end %>
</ul>
