<h1>Trains passing through your city:</h1>
<h2>Click on a train to purchase a ticket for it</h2>
<hr>
<ul>
<% @city.stops_by_train.keys.each do |train_id| %>
  <li><a href="/success/<%= @city.id %>/<%= train_id %>"><%= Train.find(train_id).line %></a>
    <hr>
    Stops in: <% Train.find(train_id).stops_by_city.keys.each do |city_id| %><%= City.find(city_id).name %> <% end %>
    <hr>
  </li>
<% end %>
</ul>
