<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th></th>
      <% @cities.each do |city| %>
        <th><%= city.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @trains.each do |train| %>
    <tr>
      <th scope="row"><%= train.line %></th>

      <% for i in 0...@cities.length %>
        <% if train.stops_by_city.keys.include?(@cities[i].id) %>
            <td><%= train.stops_by_city.fetch(@cities[i].id).join(', ') %></td>
        <% else %>
            <td></td>
        <% end %>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
