<h1>Add a new train</h1>
<form action="/operator/trains" method="post">
  <div class="form-group">
    <label for="line">Line:</label>
    <input type="text" name="line" class="form-control">
  </div>
  <button type="submit" id="submit" class="btn btn-success">Submit</button>
</form>
